// ---------------------- Bulma ----------------------

$primary: #37C54E;
$warning: #DF8600;
$link: $primary;

$family-primary: var(--app-font);

$content-heading-weight: bold;

$box-shadow: 0px 0.125rem 0.5rem rgba(0, 0, 0, 0.15);

$control-radius: 0.5rem;

$container-max-width: 700px;

@import '~bulma/bulma.sass';

// ------------------ Custom Styles ------------------

body {
  @extend .has-background-primary;
}

#__next {
  min-height: 100vh;

  @extend .is-flex;
  @extend .is-flex-grow-1;
  @extend .is-flex-direction-column;
}

.navbar-item {
	img {
		max-height: unset;
	}
}

main {
  @extend .p-5;
  @extend .mb-0;
  @extend .is-flex-grow-1;
  @extend .has-background-white;
  @extend .content;
}

.box {
  @extend .mb-5;
  @extend .w-100;

  .box-item {
    @extend .py-3;
    border-bottom: solid #f5f5f5 2px;

    &:first-child {
      @extend .pt-0;
    }

    &:last-child {
      @extend .pb-0;
      border-bottom: none;
    }
  }
}

.w-100 {
  width: 100%;
}

button.disabled {
  background-color: rgba($grey-light, 0.5) !important;
  pointer-events: none;
}

.loader {
  @extend .m-auto;

  height: 5rem;
  width: 5rem;
  border-width: 0.5rem;
  border-right-color: transparent;
  border-top-color: transparent;
}

.modal-background {
  background-color: $primary;
}

.qr-overlay {
  $size: 5rem;

  position: absolute;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: $size;
  width: $size;
  background-color: $primary;
  background-image: url('/images/logo.svg');
  background-position: center;
  background-size: $size * 0.6;
  background-repeat: no-repeat;
}

.no-wrap {
  white-space: nowrap;
}