// ---------------------- Bulma ----------------------

$primary: #37c54e;
$link: $primary;

$family-primary: 'Montserrat';

$box-shadow: 0px 0.125rem 0.5rem rgba(0, 0, 0, 0.15);

$control-radius: 0.5rem;

$container-max-width: 700px;

@import '~bulma/bulma.sass';

// ------------------ Custom Styles ------------------

body {
	@extend .has-background-primary;
}

#__next {
	min-height: 100vh;

	@extend .is-flex;
	@extend .is-flex-grow-1;
	@extend .is-flex-direction-column;
}

main {
	@extend .p-5;
	@extend .mb-0;
	@extend .is-flex-grow-1;
	@extend .has-background-white;
	@extend .content;
}

.box {
	@extend .mb-5;
	@extend .w-100;

	.box-item {
		padding: 0.75rem 0;
		border-bottom: solid #f5f5f5 2px;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}
	}
}

.w-100 {
	width: 100%;
}

button.disabled {
	background-color: rgba($grey-light, 0.5) !important;
	pointer-events: none;
}

.loader {
	margin: auto;
	height: 80px;
	width: 80px;
	border-width: 0.5rem;
	border-right-color: transparent;
	border-top-color: transparent;
}